{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>あなたの仕事をよりシンプルに！</h1>
            <p>人生は楽しいことの連続です。 しかし、時間は限られている。もし時間を有効に活用できていたら、仕事を円滑に進めることができれば、興味のあることに時間を注ぐことができたかもしれません。 
                けれども、時間の管理は簡単ではありません。。 
                時間を有効に活用し、効率よく物事を進めるために<b><i>Todo Manager</i></b>を作りました。
                あなたの行動があなたの<u>人生</u>を作ります!
                Todo Managerを使って自分の時間をより上手に使いませんか!？</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
